@model GestionContructora.Controllers.Proyectos

@{
    ViewBag.Title = "Eliminar Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Proyecto</h2>

<h3>¿Estas seguro de eliminar el proyecto?</h3>
<div>
    <h4>Proyectos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
