@model GestionContructora.Controllers.Proyectos

@{
    ViewBag.Title = "Detalles Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles Proyectos</h2>

<div>
    <h4>Proyectos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProyectoID }) |
    @Html.ActionLink("Volver", "Index")
</p>
