@model IEnumerable<GestionContructora.Controllers.Proyectos>

@{
    ViewBag.Title = "Página Principal de Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Página Principal de Proyectos</h2>

<p>
    @Html.ActionLink("Crear nuevo proyecto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinalizacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProyectoID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ProyectoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ProyectoID })
        </td>
    </tr>
}

</table>
