@model GestionContructora.Controllers.Asignaciones

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Asignación</h2>

<div>
    <h4>Asignaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaAsignacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAsignacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Carnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Carnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyectos.CodigoProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyectos.CodigoProyecto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AsignacionID }) |
    @Html.ActionLink("Volver", "Index")
</p>
