@model GestionContructora.Controllers.Empleados

@{
    ViewBag.Title = "Página de eliminar empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Empleado</h2>

<h3>¿Estas seguro de eliminar?</h3>
<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direcciones.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direcciones.Provincia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
